<div class="container">
  <div class="row">
    <div class="c-cinema-hall mb-4">
      <h2 class="c-project__header">Rezerwacje miejsc</h2>
      <div class="c-cinema-hall__movie">
        <div class="c-cinema-hall__movie--name">{{ movie.title }}</div>
        <div class="c-cinema-hall__movie--date">Data seansu: {{ date | date:'dd.MM.yyyy' }} </div>
        <div class="c-cinema-hall__movie--time">Godzina seansu: {{ hours }}:{{ minutes }}</div>
      </div>

        <div class="c-cinema-hall__screen">Ekran</div>
        <div class="c-cinema-hall__grid">
        <div class="c-cinema-hall__seats">
          <div class="d-flex align-items-center" *ngFor="let n of hallArr; let i = index">
            <span class="c-cinema-hall__row">{{ i + 1 }}</span>
            <span
              [className]="hallArr[i][j] ? 'c-cinema-hall__seat c-cinema-hall__seat--selected' : 'c-cinema-hall__seat c-cinema-hall__seat--available'"
              (click)="seatReservation(i, j)" *ngFor="let m of n; let j = index">{{ j + 1 }}</span>
            <span class="c-cinema-hall__row">{{ i + 1 }}</span>
          </div>
        </div>
      </div>
      <div class="c-cinema-hall__info">
        <div class="d-inline-block ml-2">
          <span class="c-cinema-hall__seat c-cinema-hall__seat--available">1</span>
          <span>Miejsce wolne</span>
        </div>
        <div class="d-inline-block ml-2">
          <span class="c-cinema-hall__seat c-cinema-hall__seat--reserved">7</span>
          <span>Miejsce zajęte</span>
        </div>
        <div class="d-inline-block ml-2">
          <span class="c-cinema-hall__seat c-cinema-hall__seat--selected">14</span>
          <span>Miejsce wybrane</span>
        </div>
        <div class="c-cinema-hall__info--counter">Ilość wybranych miejsc: {{ selectedSeats }}</div>
      </div>
    </div>
  </div>
</div>
