.c-menu__title {
  display: inline-block;
  margin-top: 10px;
  position: relative;
  color: #000000;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
}

.c-menu__container {
  position: relative;
}

.c-menu__title--background {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 85px;
  top: -15px;
  right: -50px;
  border-top: 85px solid #ebebeb;
  border-right: 40px solid transparent;
}

.c-menu__button--custom {
  background-color: transparent;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #ebebeb;

  &:hover{
    text-decoration: none;
    border: 1px solid #fff;
    color: #ebebeb;
    transition: 0.2s all ease-in-out;
  }
}


