<div class="bg-dark py-2 mb-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="c-menu">
          <div class="d-flex flex-column flex-md-row align-items-md-start align-items-center justify-content-between">
            <div class="c-menu__container" routerLink="/repertuar">
              <span class="c-menu__title">Cinema<span class="c-project__text--custom">Stuff</span></span>
              <div class="c-menu__title--background"></div>
            </div>
            <div class="c-menu__container mt-md-0 pt-md-0 mt-4 pt-1">
              <div class="d-flex flex-lg-row flex-column justify-content-end align-items-end">
                <button *ngIf="!authService.user" type="button" class="m-2 p-2 btn btn-light" routerLink="/logowanie">
                  Logowanie
                </button>
                <div class="text-right">
                <span *ngIf="authService.user" class="text-white d-sm-inline-block d-block">
                  Witaj: <span class="c-project__text--custom">{{ authService.user.email }}</span>
                </span>
                <button *ngIf="authService.user" (click)="logout()" class="m-2 p-2 btn btn-light">
                  Wyloguj
                </button>
              </div>
              <app-to-watch></app-to-watch>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-4">
  <router-outlet></router-outlet>
</div>

<div class="bg-dark py-2 c-footer navbar fixed-bottom"></div>
