<form (ngSubmit)="login(formDate)" #formDate="ngForm">
  <div class="form-group">
    <label class="d-inline-block c-label" for="signin-email">E-mail</label>
    <input
      class="c-input"
      ngModel
      type="email"
      name="email"
      id="signin-email"
      placeholder="Wpisz adres e-mail"
      required
    />
  </div>
  <div class="form-group">
    <label class="d-inline-block c-label" for="login">Hasło</label>
    <input
      class="c-input"
      ngModel
      type="password"
      name="password"
      id="login"
      placeholder="Podaj hasło"
      required
    />
  </div>
  <button class="btn btn-primary px-4" type="submit">Zaloguj</button>

</form>
