
<ng-container *ngIf="moviesToWatch.length > 0 && user; else noMoviesToWatch">
    <div class="m-1 d-flex justify-content-between" *ngFor="let movie of moviesToWatch">
        <span class="d-inline-block w-50">{{movie.text}}</span>
        <button class="btn btn-danger w-50 mx-1" (click)="removeFromWatchList(movie.key)">Usuń z listy</button>
      </div>
</ng-container>

<ng-template #noMoviesToWatch>
  <p *ngIf="user">Brak dodanych filmów do obejrzenia</p>
  <p *ngIf="!user">Zaloguj się, aby dodawać pozycje do listy</p>
</ng-template>
